<template name="faqs">
    <h3>Frequently Asked Questions</h3>
    <div class="panel panel-info faq-header">
        <div class="panel-body">
            <ul class="list-unstyled">
                {{#each faqs}}
                    {{> faqsItemHeader}}
                {{/each}}
            </ul>
        </div>
    </div>

    {{#each faqs}}
        {{> faqsItem}}
    {{/each}}
</template>

<template name="faqsItemHeader">
    <li><strong>Q: </strong><a id="question_{{ _id }}" class="question-jump-to" href="">{{ question }}</a></li>
</template>

<template name="faqsItem">
    <div id="question-{{ _id }}" class="panel panel-primary">
        <div class="panel-heading"><strong>Q: </strong> {{ question }}</div>
        <div class="panel-body">
            {{{ answer }}}
        </div>
    </div>
</template>