<template name="home">
    <div class="lottery-area">
        {{#each lotteries}}
            {{> lottery}}
        {{/each}}
    </div>

    <div class="winner-area">
        <ul class="list-group top-five-winners">
            <li class="list-group-item active">
                <h5>Last 5 Winner</h5>
            </li>
            {{#each winners}}
                {{> winner}}
            {{/each}}
        </ul>
    </div>

    <div class="news-area">
        {{#each news}}
            {{> newsItem}}
        {{/each}}
    </div>
</template>

<template name="newsItem">
    <div class="panel panel-primary">
        <div class="panel-heading">{{ title }}</div>
        <div class="panel-body">
            {{{ body }}}
        </div>
    </div>
</template>