<template name="headerAdmin">
    <div id="header">
        <ul class="pull-right list-unstyled">
          {{> loginButtons}}
        </ul>
    </div>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{{#if isCurrentPage 'home'}}active{{/if}}"><a href="{{pathFor 'home'}}">Home</a></li>
                    <li class="{{#if isCurrentPage 'adminNews|adminNewsNew|adminNewsEdit|adminNewsShow'}}active{{/if}}"><a href="{{pathFor 'adminNews'}}">News</a></li>
                    <li class="{{#if isCurrentPage 'adminFaqs|adminFaqsNew|adminFaqsEdit|adminFaqsShow'}}active{{/if}}"><a href="{{pathFor 'adminFaqs'}}">Faqs</a></li>
                    <li class="{{#if isCurrentPage 'adminLottery|adminLotteryNew|adminLotteryEdit|adminLotteryShow'}}active{{/if}}"><a href="{{pathFor 'adminLottery'}}">Lotteries</a></li>
                    <li class="{{#if isCurrentPage 'adminLotteryTicket|adminLotteryTicketNew|adminLotteryTicketEdit|adminLotteryTicketShow'}}active{{/if}}"><a href="{{pathFor 'adminLotteryTicket'}}">Lottery Tickets</a></li>
                    <li class="{{#if isCurrentPage 'adminWallet|adminWalletNew|adminWalletEdit|adminWalletShow'}}active{{/if}}"><a href="{{pathFor 'adminWallet'}}">Wallet Transactions</a></li>
                    <li class="{{#if isCurrentPage 'adminJobs'}}active{{/if}}"><a href="{{pathFor 'adminJobs'}}">Jobs</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>